body {
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-titres);
    }
}

.ma-vie {
  box-shadow: 0 0 15px 2px var(--bs-secondary); /* |h-offset v-offset blur spread color |inset|initial|inherit; */

  & .ma-vie__img {
  max-width: 80%;
  border-radius: 260px 220px 200px 180px;
  }
}

a {
  color: var(--bs-white);
  text-decoration: none;
}

#mot {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.loti {
  color: var(--bs-emphasis-color);
  font-family: var(--font-titres);
  font-size: 2em;
}

.cache {
  display: none !important;
}

.montre {
  display: block !important;
  color: var(--bs-primary) !important;
}

.ocean {
  position: relative;
  overflow: hidden;
  width:100%;
  height: 100px;

& .ocean__vague {
  position: absolute;
  width:100%;
  height: 100px;
  background: url(../images/fun/vague.svg);
  background-size: 800px 100px;
  animation: bouge-vague 10s linear infinite;
  opacity: 0.8;
  }

& .ocean__vague--rev {
  background: url(../images/fun/vague.svg);
  background-size: 800px 100px;
  animation: bouge-vague-rev 10s linear infinite;
  opacity: 0.5;
  }
}

@keyframes bouge-vague {
  from { background-position-x: 0; }
  to   { background-position-x: 800px; }
}

@keyframes bouge-vague-rev {
  from { background-position-x: 800px; }
  to   { background-position-x: 0; }
}

@media (min-width: 768px) {
  .img-zoom {
    transition: transform 0.4s ease;
  }
  
  .img-zoom:hover {
    transform: scale(1.05);
  }
}
