@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  /* === Palette de couleurs === */
  --bs-primary: #045377;
  --bs-primary-rgb: 4, 83, 119;
  
  --bs-secondary: white;
  --bs-secondary-rgb: 255, 255,255;
  --bs-secondary-color: white;
  --bs-secondary-color-rgb: 255, 255,255;
  
  --bs-emphasis-color: #54edd1;
  --bs-emphasis-color-rgb: 127, 73, 133;
  
  --bs-tertiary-color: #524fa1;
  --bs-tertiary-color-rgb: 210, 159, 201;

  /* Couleurs Bootstrap override */
  --bs-body-color: var(--bs-secondary);
  --bs-heading-color: var(--bs-secondary);
  --bs-nav-link-color: var(--bs-tertiary-color);

  /* === Typographie === */
  --font-titres: "DynaPuff", system-ui;
  
  --bs-border-radius: 15px 18px 12px 22px;
}